.editor {
  margin: 10rem auto;
  padding: 1rem;
  max-width: 800px;
  border: 1px solid #ccc;
  white-space: pre;
}

.editor::highlight(IME_UNDERLINE) {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: #000;
}
